.movies {
    display : flex;
    flex-wrap: wrap;
    gap: 15px;
}

main{
    background-color: rgb(2, 41, 75);
    margin: 15px;
    color: silver;
}


.movie-card{
    display: flex;
    flex-direction: column;
    background-color: silver;
    padding: 10px 20px;
    border-radius: 12px;
    color: black;
    width: 185px;
}

img{
    object-fit: cover;
    width: 185px;
    max-height: 274px;
    min-height: 274px;
}

.movie-title{
    position:relative;
    bottom: 10px;
}